<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <style>
                .error {
                    color: red;
                }
        </style>
    </head>
    <body>
        <h1>Signup</h1>
        <form method="post">
             <table>
                 <tbody>
                    <tr>
                         <td class='label'>
                             Username
                         </td>
                         <td>
                             <input name="username" type="text" value="{{username}}">
                         </td>
                             <td class="error">
                                 {{error_username}}
                             </td>
                     </tr>
                     <tr>
                         <td class='label'>
                             Password
                         </td>
                         <td>
                             <input name="password" type="password" value="">
                         <td class="error">
                            {{error_password}}
                         </td>
                     </tr>
                     <tr>
                         <td class='label'>
                             Verify Password
                         </td>
                         <td>
                             <input name="verify" type="password" value="">
                             <td class="error">
                                {{error_verify}}
                         </td>
                     </tr>
                     <tr>
                         <td class='label'>
                             Email (optional)
                         </td>
                         <td>
                             <input name="email" type="email" value="{{email}}">
                             <td class="error">
                                {{error_emails}}
                         </td>
                     </tr>
                 </tbody>
             </table>
             <input type="submit">
         </form>

     </body>
 </html>
